# logs.
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime.
pids
*.pid
*.seed
*.pid.lock

# code coverage results.
coverage

# node-waf configuration.
.lock-wscript

# node addon binaries (https://nodejs.org/api/addons.html).
build/Release

# node modules.
node_modules/

# typechecking caches.
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo

# npm cache.
.npm

# packed outputs.
*.tgz

# dotenv.
.env

# parcel-bundler cache (https://parceljs.org/).
.cache

# macos bullshittery.
.DS_Store

# vim swap files.
*.swp

# vite.
.vite

# turborepo.
.turbo

# build output.
dist
